html
{
	background: #2F4047;
}

body
{
	text-align: center;
	background: #D3DDE2;
	width: 40%;
	margin:0 auto;
}

.Header
{
	margin-top: 2em;
}

.menu
{
	text-align: right;
	margin-right:2em;
}

.menu-item
{
	display: block;

}

.menu-list
{
	padding-top: 1em;
}

.menu-link
{
	color: black;
	text-decoration: none;
}

.content
{
	
}

.article
{
	text-align: center;
	width: 500px;
	margin: auto;
}

.article-title
{
	font-size: 16px;
	text-align: left;
	margin-left: 25px;
}

.article-link
{
	position: relative;
	left: 175px;
	bottom: 40px;
}

.article-figure
{
	margin: auto;
}

.article-figure-description
{
	text-align: left;
	padding-bottom: 0.5em;
	margin-left: 25px;
}

.article-figure-image
{
	background-image: url("../images/item.jpg");
	width: 448px;
	height: 112px;
	border: 1px solid black;
}

.article-figure-image:hover
{
	border: 2px solid black;
}

#hidden-text
{
	display: none;
}

.article-down-description
{
	position: relative;
	bottom: 40px;
	left: 25px;
	width: 90%;
	text-align: left;
}

.article-down-button
{
	position: relative;
	bottom: 45px;
	left: 190px;
}

